*{
    box-sizing: border-box;
}

html{
    font-size: 18px;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    color: #323232;
    text-align: left;
    background-color: #fff;
}

.container{
    max-width: 1450px;
    margin: auto;
}

h2{
    text-align: center;
    font-size: 2.67rem;
    font-weight: 700;
}

h3{
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem 0;
}

h4{
    font-size: 1.33rem;
    font-weight: bold;
}

a{
    text-decoration: none;
    display: inline-block;
}

span{
    color: #ff2036;
}

strong{
    font-size: 2rem;
    font-weight: 700;
}

.text-pink{
    color: #ff2036;
}

.text-dark-pink{
    color: #ce1625;
}

.text-white{
    color: #fff;
}

.text-grey{
    color: #ebebeb;
}

.btn{
    height: 4.5rem;
    width: 370px;
    border-radius: 15px;
    font-size: 1.33rem;
    transform: translate( 0, 0);
    transition: all .2s;
    cursor: pointer;
}

.btn::after {
    content: "";
    display: inline-block;
    border-radius: 15px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}


.btn-pink{
    background-color: #ff2036;
    color: #fff;
    border: 0;
}

.btn-pink::after {
	background-color: #ff2036;
}

.btn-white{
    background-color: #fff;
    color: #000;
    border: 0;
}

.btn-white::after {
	background-color: #fff;
}

.btn-active::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}


.row{
    display: flex;
    justify-content: space-between;
}

.col{
    width: 50%;
}

.col-flex{
    display: flex;
}

.number{
    font-size: 16rem;
    line-height: 3rem;
}

.header{
    height: 8rem;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}

.header-mobile{
    display: none;
}

.nav__list {
    display: flex;
    padding: 0 1rem;
    align-items: center;
    list-style: none;
}

.nav__item {
    flex-grow: 1;
    padding: 5px 10px;
}

.nav a{
    font-weight: 300;
    color: #fff;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: transparent;
}

nav a:hover, nav a:focus{
    border-color: #ff3653;
    background-color: #fff;
    color: #ff3653;
    transition: all .4s;
}

.header__contact{
    display: flex;
    align-items: center;
}

.header__btn{
    color: #fff;
    font-size: 0.89rem;
    background: #31304f;
    height: 38px;
    width: 162px;
    border-radius: 10px;
    border: 0;
    padding: 5px 10px;
    margin: 0px 1rem;
    cursor: pointer;
}

.cover__btn:hover, .header__btn:hover{
    background: #fff;
    border: 1px solid #ff3653;
    color: #ff3653;
    transition: all .4s;
}

.header__phone{
    font-weight: 300;
    line-height: 21px;
    color: #fff;
    padding: 5px 10px;
}

.cover{
    background-color: #bc2a40;
    background-image: url("../img/devices.png");
    background-repeat: no-repeat;
    background-position: center bottom;
}

.cover__inner{
    width: 50%;
}

.cover__title{
    font-size: 4rem;
    font-weight: 700;
    padding: 60px 0;
}
.cover__text{
    font-size: 2rem;
    font-weight: 700;
}

.cover__btn{
    margin: 60px 0 120px 0;
}

.cover__text-mobile{
    display: none;
}

.line__white{
    background-color: #fff;
    height: 13px;
}

.line__blue{
    background-color: #002dde;
    height: 12px;
}

.line__red{
    background-color: #eb0000;
    height: 13px;
}

.about{
    display: flex;
}

.about__circle{
    display: flex;
    margin: auto;
    width: 25%;
    justify-content: center;
}
.about__circle--red {
    position: relative;
    border: 3px solid;
    border-color: #bc2a40;
    width: 422px;
    height: 422px;
    border-radius: 50%;
    margin: auto -50% auto 0%;
}
.about__circle--blue {
    position: relative;
    background-image: url("../img/logo-white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #31304f;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    margin: auto 0 auto -80%;
}

.about__list{
    margin-left: -5%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.about__item{
    display: flex;
    position: relative;
    height: 141px;
    width: 891px;
    background-color: #ecf0f3;
    border-radius: 100px;
    margin: 10px auto;
}
.about__item img{
    margin-left: -40px;
}

.item-1, .item-4{
    margin-left: -10%;
}

.item-1>img{
    margin-bottom: -45px;
}

.item-4>img{
    margin-top: -45px;
}

.about__text{
    padding: 0 65px;
}

.business{
    text-align: right;
    font-size: 14rem;
    font-weight: 700;
    line-height: 14rem;
    color: #ecf0f3;
}

.why__franch{
    background-color: #ecf0f3;
    background-image: url("../img/map.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 30px;
    margin-top: -3rem;
}

.why__list{
    display: flex;
    flex-wrap: wrap;
    margin: 60px 0;
}

.why__item{
    display: flex;
    align-items: center;
    width: 25%;
    padding: 2rem;
}

.why__item img{
    padding-right: 20px;
}

.why__btn{
    z-index: 5;
    bottom: -40px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.what__franch{
    padding-top: 60px;
}

.what__list{
    display: flex;
    padding: 30px 5%;
    align-items: center;
}

.what__item{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-inline: 5%;
    text-align: center;
    font-size: 1.33rem;
    line-height: 30px;
    align-items: center;
}

.item-reversed{
    flex-direction: column-reverse;
}


.what__item img{
    width: 90px;
    height: 90px;
    margin: 22px;
}

.what__item-text{
    display: flex;
    border: 2px solid #31304f;
    border-radius: 28px;
    height: 120px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.what__lines{
    display: flex;
    justify-content: space-between;
    margin-inline: 20%;
}

.what__center div{ 
    display: flex;
    padding: 28px 20px;
    background-color: #cf161e;
    border-radius: 50px;
    width: 30%;
    justify-content: center;
    margin: 20px auto;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    line-height: 42px;
}

.what__bottom{
    display: none;
}

table{
    border-collapse: collapse;
    overflow-x: auto;
    margin: 3.33rem auto 6.67rem auto;
    width: 100%;
    font-weight: 300;
}


thead{
    background-color: #323232;
    color: #fff;
}

.franchise__table thead th {
    font-size: 1.33rem;
    font-weight: 300;
    text-align: left;
    padding-left: 3rem;
    height: 100px;
}

.franchise__table th:nth-child(2),
.franchise__table td:nth-child(2) {
    font-weight: 700;
}

.franchise__table td:nth-child(1){
    font-weight: 500;
}

.franchise__table td{
    padding: 1rem 3rem;
}

.franchise__table tr:nth-child(even){
    background-color: #ecf0f3;
}

.franchise__table tbody :nth-child(even) td:nth-child(2){
    background-color: #b1151c;
    color: #fff;
}

.franchise__table tbody :nth-child(odd) td:nth-child(2){
    background-color: #cf161e;
    color: #fff;
}



.franchise__table-mobile{
    display: none;
}

.monetization__line--right{
    background-image: url("../img/ellipse-right-blue.png");
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: -2rem;
}

.monetization__title{
    font-size: 1.33rem;
    font-weight: 700;
}

.monetization__row{
    margin-top: 2rem;
    justify-content: space-around;
}

.monetization__col{
    margin-top: 5rem;
}

.monetization__list--main{
    font-weight: bold;
    width: 40%;
}

/* .monetization__list--main ol div{
    margin-bottom: 2rem;
    padding: 0;
} */

.monetization__list--main li{
    margin: 1rem 0;
}

.monetization__list--additional{
    width: 55%;
}

.monetization__list--additional li{
    margin: 1rem 0;
    color: #bc2a40;
}

.monetization__list--additional span{
    color: #000;
}

.catalog__col{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.catalog__col img{
    width: 90%;
}

.catalog__row{
    margin-left: 3rem;
    align-items: flex-end;
    padding-top: 4rem;
}

.catalog__text{
    margin-left: -5%;
    margin-bottom: .5rem;
}

.banners{
    padding-top: 2rem;
}

.banners__h3-mobile,
.projects__h3-mobile,
.projects__img-mobile{
    display: none;
}

.banner__col{
    display: flex;
    align-items: flex-start;
    margin: 1rem 0;
}

.banner__number{
    margin-top: 2rem;
    margin-left: -3rem;
    z-index: -1;
}

.banners__list{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.banners__item{
    display: flex;
    align-items: center;
}

.banners__item img{
    padding: .5rem 1rem .5rem 0;
}

.articles__projects{
    background-image: url("../img/ellipse-left-blue.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    margin-top: -2rem;
}

.artprojects__row{
    display: flex;
    align-items: center;
}

.articles__text{
    width: 20%;
}

.articles__number{
    line-height: 16rem;
}

.articles__img-mobile{
    display: none;
}

.projects__text{
    width: 30%;
    padding-left: 3%;
}

.projects__list{
    margin: 2rem 0 5rem 0;
}

.projects__item,
.projects__item-bottom{
    padding-block: 1rem;
}

.projects__number{
    text-align: right;
    margin-top: -2rem;
    margin-right: -.5rem;
}

.icons{
    height: 100px;
    margin: 4rem 0;
    background-image: url("../img/icons.png");
    background-repeat: no-repeat;
    background-position: center center;
}
.icons__img{
    float: right;
    margin: 4rem 0;
}

.native{
    padding-top: 4rem;
}

.native__number{
    text-align: right;
    line-height: 1rem;
    margin-bottom: -2rem;
    padding-top: 3rem;
}

.native__col{
    display: flex;
    justify-content: center;
}

.native__list{
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

.native__item{
    display: flex;
    align-items: center;
}

.native__item img{
    padding: .5rem 1rem;
}

.dot__item{
    margin-top: 4rem;
    font-size: .8rem;
}

.dot__item li{
    margin: 1rem 0;
    color: #bc2a40;
}

.dot__item span{
    margin: 1rem 0;
    color: #000;
}

.mobile-banner{
    padding-top: 23rem;
    padding-bottom: 4rem;
    margin-top: -22rem;
    background-image: url("../img/pink-background-full.png");
    background-repeat: no-repeat;
    background-position: center bottom;
}

.mobanner__marker{
    background-image: url("../img/red-marker.png");
    background-repeat: no-repeat;
    background-position: right 4rem;
}

.mobanner__col{
    display: flex;
    width: 70%;
    justify-content: flex-end;
    flex-direction: column;
}

.mobanner__title{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.mobanner__title h3{
    margin-bottom: 2rem;
}

.mobanner__number{
    text-align: right;
}

.mobanner__list{
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem 2rem 2rem;
    width: 80%;
}

.mobanner__item{
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.mobanner__item img{
    padding: .5rem 1rem;
}


.mobanner__img-mobile{
    display: none;
}

.mobanner__img-desktop{
    margin-bottom: 2rem;
}

.mobanner__dot{
    width: 25%;
    padding: 5% 10% 5% 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: .8rem;
}

.mobanner__dot li{
    margin: 1rem 0;
    color: #fff;
}

.social__col{
    padding: 1rem;
}

.social__number{
    text-align: right;
    line-height: 1rem;
    margin-bottom: -2rem;
    padding-top: 2rem;
}

.social__list{
    display: flex;
    flex-direction: column;
    margin: 3rem 0 2rem 0;
}

.social__item{
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.social__item img{
    padding-right: 1rem;
}

.ads__number{
    text-align: right;
    margin: 3rem 2rem -5rem 0;
}

.ads-title, .brand-title{
    margin: 1rem 4rem;
}

.payads{
    margin-left: -1rem;
}

.brandheader{
    margin-left: -1rem;
}

.brand__number{
    text-align: right;
    margin-right: -.8rem;
}

.ads__brand-content{
    margin-left: -2rem;
    display: flex;
}

.brand__item{
    margin: 1rem 0;
    display: flex;
    align-items: flex-start;
}

.brand__item img{
    width: 2.5rem;
    margin: 0 1rem;
}

.rocket{
    display: flex;
    flex-direction: column;
    background-color: #31304f;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    position: relative;
    padding-top: 2rem;
    margin-top: 7rem;
}

.rocket img{
    position: absolute;
    width: 250px;
    left: calc(50% - 550px);
    transform: translate(-50%, -133px);
}

.rocket h3{
    margin: 0;
}

.rocket__btn{
    margin: 2rem auto;
}

.trust__inner-desktop{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.trust__inner-mobile{
    display: none;
}

.trust__btn{
    margin: 2rem auto;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.reasons{
    background-image: url("../img/reason-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    margin-top: 5rem;
}

.angle__img{
    background-image: url("../img/angle.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    padding: 1rem;
    margin-block: 1rem;
}

.reasons__top{
    display: flex;
}

.reasons__border{
    margin: 3rem 3rem 2rem 3rem;
    border-width: 3px;
    border-style: solid;
    border-color: transparent #fff #fff transparent;
}

.reasons__border img{
    margin-top: -4rem;
}

.border-center{
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: space-between;
}

.top-border{
    margin-top: -3px;
    margin-left: calc(20% + 3px);
    height: 3px;
    width: 80%;
    background-color: #fff;
}

.left-border{
    position: absolute;
    margin-left: -3px;
    margin-bottom: -3px;
    height: 90%;
    width: 3px;
    background-color: #fff;
}

.border__text{
    font-size: 2rem;
    font-weight: 300;
    margin: 1rem 0 2rem 2rem;
}

.reasons__top-text{
    display: flex;
    align-items: center;
    font-size: 1.33rem;
    line-height: 2rem;
    padding: 1rem;
}

.reasons__bottom-text{
    text-align: center;
    font-size: 1.33rem;
}

.reasons__text{
    font-size: 2rem;
    line-height: 3rem;
}

.reasons__list{
    display: flex;
    justify-content: space-around;
    /* margin-top: 8rem; */
}

.reasons__item{
    display: flex;
    align-items: center;
}

.reasons__item--number{
    margin-top: -3rem;
    font-size: 6.66rem;
    font-weight: 300;
    color: #323232;
    opacity: 0.15;
}

.reasons__item--title{
    padding-top: 1rem;
    text-align: center;
}

.partners-mobile{
    display: none;
}

.partners{
    background-image: url("../img/map-grey.png");
    background-position: center bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
}

.our-partners-mobile{
    display: none;
}

.partners button{
    margin-block: 6rem;
    left: 50%;
    transform: translate(0, 0);
}

.team{
    background-color: #31304f;
}

.team-marker{
    background-image: url(../img/blue-marker.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    padding: 2rem;
}

.team__row{
    margin-top: 5rem;
}

.team__item{
    text-align: center;
    margin: 0 2rem;
}

.team__item-mobile{
    display: none;
}

.team__name{
    font-size: 1.33rem;
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom: .5rem;
}

.team__title{
    font-size: .8rem;
}

.reviews{
    margin: 4rem auto;
}

.review__list{
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin: 3rem;
    padding-top: 5rem;
}

.review__item{
    border: 2px solid #bc2a40;
    border-radius: 10px;
    width: 25%;
    margin: 1.33rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
}

.review__top{
    height: 40%;
}

.review__item--avatar{
    margin-top: -3rem;
    margin-bottom: 1rem;
}

.review__item--name{
    font-weight: 500;
}

.review__item--site{
    font-size: .9rem;
    line-height: 1.66rem;
}

.review__item--url a{
    font-size: .8rem;
    margin-bottom: 1rem;
    color: #000;
    text-decoration: underline;
}

.review__item--text{
    padding: 1rem;
    line-height: 1.33rem;
}

.btn-reviews{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.slider{
    display: none;
}

footer{
    background-color: #31304f;
    color: #fff;
}

.franchise{
    font-size: 9rem;
    font-weight: 900;
    color: #47456d;
    line-height: 8rem;
    margin-bottom: 3rem;
    letter-spacing: -5px;
}

.footer__text{
    font-size: 2.67rem;
    font-weight: 700;
}

.footer__item{
    display: flex;
    align-items: flex-end;
    width: 75%;
    margin: 3rem 0;
}

.footer__item img{
    width: 15%;
    margin-right: 2rem;
}

.footer__links img{
    margin: auto .5rem;
}

.footer__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .8rem;
    width: 90%;
    padding-bottom: 3rem;
}

.footer__info-mobile{
    display: none;
}

.footer__col{
    background-color: #bc2a40;
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__form-text{
    font-size: 1.67rem;
    font-weight: 700;
}

.g-form__preloader { 
	height: 4px;
	width: 100%;
	position: relative;
	margin: 15px 0;
	opacity: 0;
}

.g-form__preloader:before {
	background: #31304F;
	content: '';
	display: inline-block;
	position: absolute;
	left: 0;
	width: 50px;
	height: 4px;
	-webkit-animation: smartlidPreloader 3s infinite;
	animation: smartlidPreloader 3s infinite;
}

.input__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem 0;
}

.input-field{
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    margin: .5rem 0;
    border-radius: 10px;
    border: none;
}

.btn-form{
    width: 100%;
}

#modal{
    display: none;
    max-width: 40%;
    background-color: #fff;
}

.input__container #honeypot{
    display: none;
}

.modal__form-text{
    font-size: 1.67rem;
    font-weight: 700;
    color: #31304f;
}

.g-form-respond{
    font-size: 2rem;
    font-weight: 700;
}

.modal-input-field{
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    margin: .5rem 0;
    border-radius: 10px;
    border: 1px solid #31304f;
}

.btn-modal{
    width: 100%;
    height: 4rem;
    color: #fff;
    background: #31304f;
    border: 1px solid #31304f;
}

@media(max-width: 426px) {
    html {
        font-size: 14px;
    }

    h2{
        text-align: center;
        font-size: 2.3rem;
        font-weight: 700;
        margin: 2.5rem;
    }
    
    h3{
        font-size: 2.6rem;
        font-weight: 700;
        margin: 1rem 0;
    }
    
    h4{
        font-size: 1.33rem;
        font-weight: bold;
    }

    strong{
        font-size: 1.7rem;
        font-weight: 700;
    }

    .btn-active::after {
        transform: scaleX(1) scaleY(2);
        opacity: 0;
    }

    .row{
        flex-wrap: wrap;
    }

    .col{
        width: 100%;
    }

    .header__contact, 
    .nav, 
    .header__logo, 
    .number,
    .cover__text br,
    .cover__text-desktop,
    .about__circle,
    .what__lines,
    .what__center,
    .franchise__table,
    .banners__h3-desktop,
    .articles__img-desktop,
    .projects__h3-desktop,
    .projects__img,
    .icons,
    .mobanner__img-desktop,
    .mobanner__dot,
    .ads-title br,
    .brand-title br,
    .trust__inner-desktop,
    .reasons__item--number,
    .reasons__list br,
    .our-partners-desktop,
    .team__item,
    .review__list,
    .footer__item img,
    .footer__info{
        display: none;
    }
    .container {
        max-width: 414px;
        margin: auto;
    }
    .main {
        height: 620px;
        text-align: center;
    }
    .header {
        height: 6rem;
    }
    .header-mobile {
        display: flex;
        width: 100%;
        margin: 0 1rem;
        align-items: center;
    }
    .mobile__logo {
        margin: auto;
        padding-right: 10%;
    }
    .mobile__logo img {
        width: 6rem;
        margin-right: 50%;
    }
    .cover {
        background-color: #bc2a40;
        background-image: url("../img/devices-mobile.png");
        background-repeat: no-repeat;
        background-position: center bottom;
    }
    .cover__inner {
        width: 100%;
    }
    .cover__title {
        font-size: 2.3rem;
        line-height: 2.3rem;
        font-weight: 700;
        padding: 0 1rem;
    }
    .cover__text {
        font-size: 1rem;
        margin: 1rem;
    }
    
    .cover__btn {
        width: 60%;
        height: 47px;
        margin: 0;
        position: relative;
    }
    .cover__text-mobile {
        display: inline-flex;
        margin-top: 23.5rem;
        font-size: .9rem;
    }
    .line__red, .line__blue, .line__white {
        height: 10px;
        width: 100%;
    }
    
    .item-1, .item-4, .item-1>img, .item-4>img {
        margin: auto;
    }
    .about__list {
        margin: 3rem 0;
    }
    .about__item img {
        width: 20%;
        height: auto;
        margin: 0;
    }
    .about__item {
        width: 98%;
        height: auto;
        padding: 1rem 0;
    }
    .about__text {
        padding: 0 0 0 10px;
        width: 75%;
    }
    .about__text h3 {
        margin: 0 0 .8rem 0;
        font-size: 1.67rem;
        line-height: 1.5rem;
    }
    .business {
        font-size: 5rem;
        line-height: 5rem;
        margin-right: 3rem;
    }
    .why__franch {
        margin-top: -1rem;
        background-position: center top;
        padding-top: 1rem;
    }
    /* .why__franch h2 {
        margin: 0;
    } */
    .why__list {
        margin: 2rem auto;
    }
    .why__item {
        width: 100%;
        padding: 0 1rem;
        font-size: 1.3rem;
    }
    .why__item img {
        padding: .5rem 1rem .5rem 0;
        width: 13%;
    }
    .why__btn {
        width: 75%;
        margin: 1rem auto 3rem auto;
        bottom: 0;
    }

    .what__franch {
        padding-top: 0px;
    }
    .what__list{
        padding: 0;
        flex-direction: column;
        align-items: stretch;
    }
    .what__item {
        flex-direction: row;
        width: 100%;
        font-size: 1.7rem;
        margin-inline: 0;
    }

    .what__item::before{
        content: url("../img/line-mini.svg");
        margin-bottom: -10.5rem;
        margin-right: -55%;
        margin-left: 55%;
        z-index: 1;
    }

    .what__item img{
        width: 15%;
        margin: 0;
    }

    .what__item-text{
        margin: 10px;
        width: 75%;
    }

    .what__bottom{
        display: block;
        background-color: #cf161e;
        border-radius: 50px;
        width: 75%;
        padding: 1.5rem;
        margin: 10px 2.5% 2rem auto;
        font-size: 1.7rem;
        font-weight: 700;
        line-height: 2rem;
        text-align: center;
        color: #fff;
    }

    .franchise__compare{
        padding-top: 3rem;
    }

    .franchise__table-mobile{
        display: table;
    }

    table{
        margin: 0;
    }

    thead{
        background-color: #fff;
        color: #323232;
    }

    thead th {
        font-size: 1.5rem;
        font-weight: 700;
        text-align: left;
        padding: 1rem;
    }

    tbody {
        background-color: #ecf0f3;
        font-size: 1.28rem;
    }

    .franchise__table-mobile tbody :nth-child(odd) td:nth-child(1n){
        padding: 1rem 0 .5rem 1rem;
        font-weight: 700;
    }

    .franchise__table-mobile tbody :nth-child(even) td:nth-child(1n){
        width: 50%;
        padding: .5rem 0 1rem 1rem;
        font-weight: 300;
    }

    .monetization__line--right{
        background-image: url("../img/ellipse-right-blue.png");
        background-position: 80% bottom;
        background-repeat: no-repeat;
    }

    .monetization__col{
        width: 100%;
        padding-left: 1rem;
        margin-top: 2rem;
    }

    .monetization__row{
        margin-top: 0;
        font-size: 1.3rem;
    }

    .monetization__list--main,
    .monetization__list--additional{
        width: 100%;
    }

    .catalog__col{
        width: 100%;
        margin-block: 3rem 6rem;
    }

    .catalog__col img{
        margin-left: -2rem;
        width: 100%;
    }

    .monetization__col::after{
        content: url("../img/icons-mobile.png");
        margin-left: -1rem;
    }

    .catalog__row{
        padding-top: 0;
        justify-content: space-evenly;
    }

    .catalog__text h3::before{
        content: "1. ";
        font-size: 2.6rem;
        font-weight: 700;
        color: #fff;
    }
    
    .catalog__text{
        margin-left: 0;
        width: 90%;
    }

    .catalog__text div{
        font-size: 18px;
    }

    .catalog__text .text-white{
        margin-block: 1rem;
    }

    .banners{
        padding-top: 0;
    }

    .banners__h3-mobile,
    .projects__h3-mobile{
        display: inline;
        margin-inline: 2rem;
    }

    .banner__col {
        flex-direction: column;
    }

    .banner__col img{
        width: 100%;
        margin-left: -2rem;
        margin-top: 2rem;
    }

    .banners__list{
        margin-left: 1rem;
        font-size: 1.3rem;
        line-height: 1.7rem;
    }
    
    .banners__item{
        margin-block: .5rem;
    }

    .banners__item img{
        width: 15%;
    }

    .articles__projects{
        background-position: 15% top;
        margin-top: 2rem;
        padding-top: 4rem;
    }

    .artprojects__row{
        flex-wrap: wrap;
        align-items: start;
        justify-content: center;
    }

    .articles__text{
        width: 85%;
        margin-bottom: 1.5rem;
    }

    .articles__img-mobile{
        display: block;
        width: 100%;
    }

    .articles__img-mobile img{
        width: 100%;
    }

    .articles__text .text-pink{
        font-size: 1.3rem;
    }

    .artprojects__row::before{
        content: "3. ";
        color: #fff;
        font-size: 2.6rem;
        font-weight: 700;
        margin: 1rem .5rem;
    }

    .projects__list{
        margin: 1rem 0;
        counter-reset: projects;
    }

    .projects__img-mobile{
        display: block;
    }

    .projects__img-mobile img{
        width: 95%;
    }

    .projects__item::before{
        counter-increment: projects;
        content: counter(projects)". ";
    }

    .projects__text{
        width: 100%;
        font-size: 1.3rem;
        padding-right: 2rem;
    }

    .projects__item,
    .projects__item-bottom{
        padding-block: .5rem;
    }

    .native{
        padding-top: 0;
        font-size: 1.3rem;
    }

    .native .col{
        padding-inline: 2rem;
    }

    .native__col img{
        width: 100%;
    }

    .native .col h3::before{
        content: "5.";
        font-size: 2.6rem;
        font-weight: 700;
    }

    .native__item{
        padding-block: 1rem;
        align-items: flex-start;
    }

    .native__item img{
        padding: .5rem 1rem .5rem 0;
        width: 15%;
    }

    .dot__item{
        margin-top: 1rem;
        font-size: 1rem;
        line-height: 1.3rem;
    }

    .mobanner__marker{
        background-position: right center;
    }

    .mobile-banner{
        background-size: cover;
        background-position: 10% bottom;
        margin-top: 3rem;
        margin-bottom: -3rem;
        padding-bottom: 7rem;
        padding-top: 2rem;
    }

    .mobanner__col{
        width: 100%;
        padding-left: 2rem;
        font-size: 1.3rem;
    }
    
    .mobanner__title h3::before{
        content: "6.";
    }

    .mobanner__img-mobile{
        display: block;
    }

    .mobanner__img-mobile img{
        width: 50%;
        margin-bottom: 2rem;
    }

    .mobanner__list{
        margin: 4rem auto;
        width: 100%;
    }

    .mobanner__item{
        align-items: flex-start;
        margin: 1rem 0;
    }

    .mobanner__item img{
        padding: 0 1rem 0 0;
    }

    .social{
        font-size: 1.3rem;
    }

    .social h3::before{
        content: "7.";
    }

    .social__img{
        width: 90%;
        margin-top: -5rem;
        margin-inline: 5%;
    }

    .social__col{
        padding: 2rem 2rem 0 2rem;
    }

    .social__item{
        margin-bottom: 2rem;
    }

    .ads__brand{
        font-size: 1.3rem;
    }

    .ads-title h3::before{
        content: "8. ";
    }

    .ads-title, .brand-title{
        margin: 1rem 2rem;
    }

    .ads__brand-subtitle{
        margin-top: 2rem;
    }

    .payads img{
        width: 100%;
    }

    .brand-title h3::before{
        content: "9. ";
    }

    .ads__brand-content{
        flex-direction: column;
        margin-left:0;
    }

    .brand__item{
        margin: 1rem auto;
        line-height: 1.7rem;
        padding-right: 3rem;
    }

    .rocket{
        font-size: 2.6rem;
    }

    .rocket h3{
        margin-top: 2rem;
    }

    .rocket img{
        display: block;
        position: unset;
        width: 35%;
        margin-inline: auto;
        margin-top: -20%;
        transform: none;
    }

    .trust__inner-mobile{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .trust__inner-mobile img{
        margin-block: 1rem;
        max-width: 100%;
    }

    .reasons{
        margin-top: 4rem;
        padding-top: 1rem;
    }

    .reasons__top {
        display: flex;
        flex-wrap: wrap;
    }

    .reasons__border{
        margin: 3rem 1rem 1rem 1rem;
        
    }

    .reasons__border img{
        width: 22%;
        margin-top: -2rem;
    }

    .top-border {
        margin-left: calc(30% + 3px);
        width: 70%;
    }

    .border__text{
        font-size: 2.6rem;
    }

    .reasons__top-text{
        font-size: 1.7rem;
        line-height: 2.5rem;
    }

    .reasons__bottom-text{
        text-align: center;
        font-size: 1.7rem;
        line-height: 2.5rem;
        padding-block: 2rem;
    }


    .reasons__list{
        flex-wrap: wrap;
        font-size: 1.7rem;
    }

    .reasons__item {
        display: flex;
        padding-inline: 2rem;
        justify-content: center;
        margin: 2rem;
        text-align: center;
    }

    .reasons__item-content img{
        width: 6.5rem;
        margin: auto;
    }

    .partners-mobile{
        display: block;
        text-align: center;
        margin-block: 3rem;
        
    }
    .partners{
        margin-top: 0;
    }

    .our-partners-mobile{
        display: flex;
        flex-wrap: wrap;
    }

    .our-partners-mobile img{
        margin-block: .5rem;
        margin-left: 5%;
    }

    .partners button{
        margin: 3rem auto;
    }

    .team__row {
        margin-top: 4rem;
        justify-content: center;
    }

    .team__item-mobile{
        display: block;
        text-align: center;
        margin: 0 2rem;
    }

    .team__name{
        font-size: 1.7rem;
    }
    
    .team__title{
        font-size: 1rem;
    }

    .slider{
        display: block;
    }

    .slider__inner{
        position: relative;
    }

    .slick-btn{
        position: absolute;
        top: 40%;
        z-index: 5;
        border: none;
        background-color: transparent;
        background-repeat: no-repeat;
        height: 55px;
        width: 30px;
    }

    .slick-next{
        right: 0;
        background-image: url(../img/btn-next.svg);
    }

    .slick-prev{
        left: 0;
        background-image: url(../img/btn-prev.svg);
    }

    .review__item{
        width: 70%;
        margin-inline: auto;
        margin-top: 3rem;
    }

    .review__item--text{
        font-size: 1.3rem;
        line-height: 2rem;
        padding: 2rem 1.2rem 2rem 2rem;
    }

    footer{
        padding-inline: 2rem 1rem;
        font-size: 1.3rem;
    }

    footer strong{
        font-size: 2.6rem;
        font-weight: 700;
        line-height: 3.4rem;
    }

    .franchise{
        font-size: 6.5rem;
        margin-bottom: 1rem;
    }

    .footer__text {
        font-size: 3.4rem;
        margin-top: 1rem;
    }

    .footer__item{
        width: 100%;
    }

    .footer__col {
        padding: 2rem;
    }

    .footer__info-mobile{
        display: flex;
        margin: 1rem auto;
        font-size: 1rem;
        flex-direction: column;
        align-items: center;
    }

    .footer__links img{
        margin: 1rem .5rem;
    }

    #modal{
        max-width: 90%;
    }
}

@-webkit-keyframes smartlidPreloader {
	0% {
		left: 0; }
		50% {
			left: -webkit-calc(100% - 50px);
			left: calc(100% - 50px); }
			100% {
				left: 0%; } 
			}

			@keyframes smartlidPreloader {
				0% {
					left: 0; }
					50% {
						left: -webkit-calc(100% - 50px);
						left: calc(100% - 50px); }
						100% {
							left: 0%; } 
						}